<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teacherspet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeachersPet">
        <activity android:name=".TeacherInfo"></activity>
        <activity android:name=".Chats.OfficialGroup" />
        <activity android:name=".Calender.CalenderOfEvents" />
        <activity android:name=".Notes.Sg_M2" />
        <activity android:name=".Notes.Sg_M1" />
        <activity android:name=".Notes.Ins_M2" />
        <activity android:name=".Notes.Ina_M1" />
        <activity android:name=".Notes.SG" />
        <activity android:name=".Notes.INS" />
        <activity android:name=".Notes.Student_subjects" />
        <activity android:name=".Notes.Teacher_subjects" />
        <activity android:name=".Chats.Chat" />
        <activity android:name=".TeacherRegister" />
        <activity android:name=".StudentRegister" />
        <activity android:name=".contactStudent" />
        <activity android:name=".contactFaculty" />
        <activity android:name=".verification_teacher" />
        <activity android:name=".welcome_teacher" />
        <activity android:name=".welcome_student" />
        <activity android:name=".verification" />
        <activity android:name=".teacher_login" />
        <activity android:name=".student_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>